<h1>This is PointBox</h1>


<p>
  <%= Faker::Lorem.paragraph(27) %>
</p>
<p>
  <%= Faker::Lorem.paragraph(27) %>
</p>
<p>
  <%= Faker::Lorem.paragraph(27) %>
</p>
<p>
  <%= Faker::Lorem.paragraph(27) %>
</p>
